<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style="background-color: rgb(250,250,250); padding: 30px;">
		<div style="display: flex; justify-content: center;">
			<p style="font-size: 18px; letter-spacing: 1px">
				<b>{{name}}</b>, welcome to <a style="text-decoration: none;" href="https://askriashad.com">AskRiashad</a>. Please verify your email to access your account.
			</p>
		</div>
		<div style="display: flex; justify-content: center;">
			<a 
				style="background-color: #0F6E0E; padding: 8px 24px; font-size: 18px;
				text-decoration: none; font-weight: 500; color: white;"
				href="{{url}}" 
			>
				Verify
			</a>
		</div>
	</div>
</body>
</html>