{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Sign In</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/generic/form-std.css' %}">
{% endblock %}


{% block extra_content %}
        <div class="d-flex justify-content-center align-items-center" style="margin: 20px;">
            <div class="col-lg-5 list-group-item">
                <h6 align="center">Sign In</h6>
                <form class="form-block" method="POST">
                    {% csrf_token %}
                	{{ form.phone }}
                	{{ form.password }}
                    <input type="submit" value="Sign In" class="btn btn-success btn-block">
                </form>
                <a href="/account/password-reset/" class="list-group-item list-group-item-action">Forget Password?</a>
                <div class="list-group-item">
                    Need an account?
                    <a href="/account/signup/" class="">
                        signup
                    </a>
                </div>
            </div>  
        </div>
{% endblock %}


{% block extra_script %}

{% endblock %}