{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Password Reset Complete</title>
{% endblock %}


{% block extra_content %}
	<div class="d-flex justify-content-center align-items-center">
        <div class="col-md-4 list-group-item" style="margin: 20px;">
            <h6 align="center">Password Reset Complete</h6>
            <a href="/account/signin/" class="list-group-item list-group-item-action">Sign in here</a>
        </div>
    </div>
{% endblock %}

	

{% block extra_script %}
{% endblock %}