.form-input-block input{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 5px;
}
.form-block input,select {
	margin: 10px 0px 5px 0px;
}